// Primary colors
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

$top-shadow-colors: $Cyan, $Red, $Orange, $Blue;

// Neutral colors
$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: $GrayishBlue;
  background-color: $VeryLightGray;
  width: 80%;
  margin: auto;
}

header {
  margin: 5em 0;
  text-align: center;
  h1 {
    font-size: 1.6em;
    font-weight: 200;
    color: $VeryDarkBlue;
    &.bold {
      font-weight: 600;
    }
  }
  p {
    margin-top: 1em;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-bottom: 3em;
    background-color: white;
    width: 375px * 0.8;
    border-radius: 0.3em;
    @for $i from 1 through length($top-shadow-colors) {
      &:nth-of-type(#{$i}) {
        box-shadow:0 10px 20px -10px $GrayishBlue, 0 -4px nth($top-shadow-colors,$i);
      }
    }
    h3{
      color: $VeryDarkBlue;
      font-size: 1.2em;
    }
    p{
      margin: 1em 0;
      font-size: 0.8em;
      line-height: 2em;
    }
    img{
      align-self: flex-end;
      margin: 0.5em 0;
    }
  }
}
